@{
    ViewData["Title"] = "Delete";
}
@model Product
<h2>Ürün Sil</h2>
<hr />
<h4>@Model.Name adlı ürün silinecektir, Onaylıyor musunuz?</h4>

<form method="post" asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Sil" class="btn btn-danger btn-sm" />
    <a asp-action="Index" class="btn btn-primary btn-sm">Vazgeç</a>
</form>


