@{
    ViewData["Title"] = "Düzenle";
}
@model Product
<h2>Ürün Düzenle</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Product" asp-action="Update" method="post">

            <div class="mb-2">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span class="text-danger" asp-validation-for="Price"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="mb-2">

                <input asp-for="IsActive" class="form-check-input" />
                <label asp-for="IsActive"></label>
                <span class="text-danger" asp-validation-for="IsActive"></span>
            </div>
            <div class="mb-2">
                <input type="submit" value="Kaydet" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
