@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-action="TestWithLayout" asp-controller="Home">Test 1</a>
<a href="~/Home/TestWithOutLayout">Test 2</a>