@{
    ViewData["Title"] = "Home Page";
}

@model List<ProductModel>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">@item.Name</div>
                <div class="card-body">
                    <h3>@item.Price.ToString("0.00 TL")</h3>
                    <p>
                        @item.Description
                    </p>
                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-primary">İncele</a>
                </div>
            </div>
        </div>
    }

</div>